{% extends "template.html" %}

{% block meta %}
<title>Povigo</title>
<meta name="description"
      content="Met Povigo willen we een digitale groei-app introduceren die mensen na een burn-out versterkt om samen met een jobcoach opnieuw stappen in de richting van de arbeidsmarkt te zetten. Eigenaarschap in het ontwikkelproces staat centraal.">
<meta content="" name="keywords">
{% endblock %}

{% block content %}

{% include "parts/hero.html" %}

<main id="main">

    {% include "parts/contact-section.html" %}

</main><!-- End #main -->

{% endblock %}
